*.csv
*.txt

*.gpkg
*.parquet
*.pbf
*.ini
*.json
*.geojson
Schrott/


archive/
.venv/
__pycache__/
*.pyc
*.log
*.ipynb_checkpoints

.env
config/local.toml


!output/
#!output/**

!prep/tile_cache/*.json
!prep/bundeslaender.geojson

!*_metadata.json
