*.csv
*.txt

*.gpkg
*.parquet
*.pbf
*.ini
*.json
*.geojson
Schrott/


archive/
.venv/
__pycache__/
*.pyc
*.log
*.ipynb_checkpoints



!output/
!output/**

!prep/tile_cache/*.json

config.py
!requirements.txt
